.success {
    color: rgb(0, 130, 0);
    background: lightgray;
    margin: 20px;
    font-size: 20px;
    padding: 4px;


}

.error {
    color: red;
    background-color: lightgray;
    margin: 20px;
    font-size: 20px;
    padding: 4px;


}